<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>GitHub 文件加速下载</title>
    <link
      rel="mask-icon"
      href="/static/pinned-octocat-093da3e6fa40.svg"
      color="#000000" />
    <link
      rel="alternate icon"
      class="js-site-favicon"
      type="image/png"
      href="/static/favicon.png" />
    <link
      rel="icon"
      class="js-site-favicon"
      type="image/svg+xml"
      href="/static/favicon.svg" />
    <link
      href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.3.1/css/bootstrap.min.css"
      rel="stylesheet"
      crossorigin="anonymous" />
    <script src="https://cdn.bootcdn.net/ajax/libs/feather-icons/4.29.1/feather.min.js"></script>
    <style>
      .speed-prefix {
        color: red;
      }
    </style>
    <script>
       (function() {
        function updateTheme() {
            document.querySelector("html").setAttribute("data-bs-theme", window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark": "light")
        }
        window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', updateTheme);
        updateTheme();
      })();    
    </script>
  </head>
  <body>
    <div class="container text-center">
      <div class="row d-flex align-items-center" style="height: 95vh">
        <div class="col align-self-center">
        <h2 class="mb-4"><img src="/static/pinned-octocat-093da3e6fa40.svg" style="width: 1.5em;margin-right: .1em;vertical-align: bottom;">GitHub 文件加速下载</h2>
          <form
            class="needs-validation" novalidate
            action="./"
            method="get"
            target="_blank"
            onsubmit="toSubmit(event)">
            <div class="input-group mb-3 rounded">
                <input
                    type="text"
                    class="form-control"
                    name="ghq"
                    list="datalistOptions"
                    placeholder="键入Github文件链接"
                    pattern="^((https|http):\/\/)?(github\.com\/.+?\/.+?\/(?:releases|archive|blob|raw|suites)|((?:raw|gist)\.(?:githubusercontent|github)\.com))\/.+$"
                    required />
                <button class="btn btn-success" type="submit">
                    <i data-feather="zap" style="width: 20px; height: 20px"></i>
                    加速下载
                </button>
                <datalist id="datalistOptions"></datalist>
                <div id="valid-feedback" class="valid-feedback text-start"></div>
                <div id="invalid-feedback" class="invalid-feedback text-start">无效的URL链接，请参考下方支持的URL格式！</div>
            </div>
            <div class="card">
            <div class="card-header">
              说明：支持Github
              releases、archive、gist和raw.githubusercontent.com下的文件代理加速下载服务，支持最大100
              MB文件。
            </div>
            <div class="card-body">
              <h4 class="card-title" class="fw-bold">支持格式</h4>
              <p class="text-start">
                分支源码：https://github.com/XTLS/Xray-core/archive/refs/heads/main.zip
              </p>
              <p class="text-start">
                Release源码：https://github.com/XTLS/Xray-core/archive/refs/tags/v1.8.7.zip
              </p>
              <p class="text-start">
                Release文件：https://github.com/XTLS/Xray-core/releases/download/v1.8.7/Xray-windows-64.zip
              </p>
              <p class="text-start">
                分支文件：https://github.com/XTLS/Xray-core/blob/main/README.md
              </p>
              <p class="text-start">
                Raw文件：https://raw.githubusercontent.com/XTLS/Xray-core/main/LICENSE
              </p>
              <p class="text-start">
                git clone：git clone
                <span class="speed-prefix"></span
                >https://github.com/XTLS/Xray-core.git
              </p>
              <p class="text-start">
                wget：wget
                <span class="speed-prefix"></span
                >https://github.com/XTLS/Xray-core/archive/refs/heads/main.zip
              </p>
              <p class="text-start">
                curl：curl -O
                <span class="speed-prefix"></span
                >https://github.com/XTLS/Xray-core/archive/refs/tags/v1.8.7.zip
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
    <footer class="navbar-fixed-bottom" style="height: 5vh;">
        <p class="text-center text-muted">
        © 2024 Libs Powered by
        <a
            href="https://github.com/hunshcn/gh-proxy"
            class="text-decoration-none link-success"
            target="_blank"
            >gh-proxy</a
        >
        </p>
    </footer>
    
    <script
      src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.3.1/js/bootstrap.bundle.min.js"
      crossorigin="anonymous"></script>
    <script type="text/javascript">
      feather.replace();
      var elements = document.getElementsByClassName("speed-prefix");
      for (var i = 0; i < elements.length; i++) {
            var element = elements[i];
            element.innerHTML = getLocationUri();
      }
      function toSubmit(e) {
        var forms = document.getElementsByClassName('needs-validation');
        var url = getLocationUri() + document.getElementsByName("ghq")[0].value;
        if(forms[0].checkValidity() == false) {
          event.preventDefault();
          event.stopPropagation();
          forms[0].classList.add('was-validated');
          document.getElementById('valid-feedback').style.display = 'none';
          document.getElementById('invalid-feedback').style.display = 'block';
        }else{
            document.getElementById('valid-feedback').innerHTML = url;
            document.getElementById('valid-feedback').style.display = 'block';
            document.getElementById('invalid-feedback').style.display = 'none';
            e.preventDefault();
            window.open(url);
        }
        return false;
      }
      function getLocationUri() {
        return location.href.substr(0, location.href.lastIndexOf("/") + 1);
      }
    </script>
  </body>
</html>
